include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements*
include versioneer.py

graft zenopy

recursive-include tests *

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

global-exclude *.py[cod] __pycache__ *.so